# see https://git-scm.com/docs/gitattributes
# see https://github.com/alexkaratarakis/gitattributes

*          text=auto
*.bat      text eol=crlf
*.sh       text eol=lf
*.md       text eol=lf
*.js       text eol=lf
*.css      text eol=lf
*.html     text eol=lf
